@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'urbane';
    src: url('/public/fonts/Urbane-Medium.eot')format('embedded-opentype');
}


/* --primary-100:#1A1A1A;
--primary-200:#404040;
--primary-300:#999999;
--accent-100:#FF4D4D;
--accent-200:#ffecda;
--text-100:#FFFFFF;
--text-200:#e0e0e0;
--bg-100:#000C11;
--bg-200:#151c20;
--bg-300:#2b3337;*/

body{
    background: radial-gradient( #000C11 0%, #151c20 50%, #2b3337 100%);
    min-height: 100vh;
    font-family: Roboto;    
    color: #FFFFFF;
    font-weight: 500;
    height: 200vh;
    font-style: normal;
}
.container{
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 0 4.16vw;
}

/*     header     */

.header{
    padding: 5.5vh 0;
    position: fixed;
    padding-bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 90;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    font-size: 1.7vw;
    color: #FF4D4D;
    font-style: italic;
    font-weight: 700;

    padding: 0.35vw 0.89vw;
    background-color: #1010104d;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.header-menu{
    display: flex;
    
    padding: 0.35vw 0.89vw;
    background-color: #1010104d;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.header-wrap a{
    text-decoration: none;
}
.header-wrap li{
    padding: 0.52vw 1.3vw 0.32vw;
    z-index: 1;
}
.header-wrap li a{
    font-size: 1.25vw;
    color: inherit;
    font-family: "urbane";
}

.intro{
    margin-top: 10vh;
}

.intro-text{
    position: absolute;
    top: 15vh;

    font-family: "urbane";
    font-size: 84px;
    font-weight: 700;
    line-height: 90px;
}

#canvas3d{
    margin-left: 20vw;
}

