@import url("../../public/css/reset.css");
@import url("../../public/css/locomotive-scroll.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'urbane';
    src: url('/public/fonts/Urbane-Medium.woff')format("woff");
}

@font-face {
    font-family: 'urbane';
    src: url('/public/fonts/Urbane-DemiBold.woff')format("woff");
    font-weight: 500;
}

:root{
--primary-100:#1A1A1A;
--primary-200:#404040;
--primary-300:#999999;
--accent-100:#FF5733;
--accent-200:#96C0B3;
--text-100:#FFFFFF;
--text-200:#e0e0e0;
--bg-100:#000C11;
--bg-200:#151c20;
--bg-300:#2b3337;
}

html {
    overflow: hidden;
    cursor: default;
}

body{
    background-color: black;
    min-height: 100vh;
    font-family: Roboto;    
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
    z-index: 10;
}
.container{
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 0 4.16vw;
}
  
#scroller{
    overflow-x: hidden;
}

#blob{
    display: none;
    background: linear-gradient( var(--accent-100) 0%, var(--accent-200) 100% );
    height: 300px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotate 20s infinite;
    filter: blur(175px);
    z-index: -2;
  }

  #blur{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(175px);
  }

  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    50% {
      scale: 1 1.5;
    }
    to {
      rotate: 360deg;
    }
  }

/*     header     */

.header{
    padding: 5.5vh 0;
    position: fixed;
    padding-bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 90;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    font-size: 1.7vw;
    color: var(--accent-100);
    font-style: italic;
    font-weight: 700;

    padding: 0.55vw 0.89vw;
    background-color: #1010104d;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.header-menu{
    display: flex;
    align-items: center;

    padding: 0.25vw 0.89vw;
    background-color: #1010104d;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.header-wrap a{
    text-decoration: none;
}
.header-wrap li{
    padding: 0.52vw 1.3vw 0.32vw;
    z-index: 1;
}
.header-wrap li a{
    font-size: 1.25vw;
    color: inherit;
    font-family: "urbane";
    transition: all 0.5s;
}

.header-wrap li a:hover{
    color: var(--accent-100);
    transition: all 0.5s;
}

/*    intro     */

.intro{
    padding-top: 5vh;
    min-height: 100vh;
}

.intro-text {
    position: absolute;
    top: 20vh;
    width: 37vw;
}
.intro-text p {
    width: 37vw;

    color: #FFFFFF;
    font-family: "urbane";
    font-size: 84px;
    font-weight: 700;
    line-height: 90px;
}

.word {
    color: var(--accent-100);
}

.cursor {
    animation: blink 1s infinite;
    font-size: 80px;
  }
  
  @keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

#canvas3d{
    margin-left: 20vw;
}

/*    about     */

.about{
    margin-top: 1.5vh;
    min-height: 100vh;
}

.about h3{
    position: relative;

    text-align: center;
    font-family: "urbane";
    font-size: 3.5vw;
    font-weight: 600;
}

.about h3::after{
    position: absolute;
    content: '';
    border-bottom: 18px solid #FF4D4D;
    width: 150px;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 30px;
    top: -15px;
    z-index: -1;
}

.about .about-wrap{
    margin-top: 10vh;

    display: flex;
    justify-content: space-between;
}

.about h4{
    width: 50vw;

    display: flex;
    align-items: center;

    font-family: "urbane";
    text-align: left;
    font-size: 1.7vw;
    line-height: 50px;
}

.about .skills{
    display: flex;
    gap: 13%;
}

.skills__row{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
}

.skills__item {
    position: relative;
    padding: 8px;
    width: 140px;
    height: 98px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    display: flex;
    z-index: 1;
}

.skills__item::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    border: 1px solid transparent;
    background: linear-gradient(140deg, #FF4D4D, #fb837f, #FF4D4D, #fb837f) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.skills__item img{
    width: 50px;
    height: 50px;
}

.skills__item h5{
    text-transform: uppercase;
    font-family: "urbane";
    font-weight: 500;
}

/*    portfolio     */

.works{
    min-height: 100vh;
}

.works h3{
    position: relative;

    text-align: center;
    font-family: "urbane";
    font-size: 3.5vw;
    font-weight: 600;
    color: #FF4D4D;
}

.wrapper {
    height: 100vh;
    display: flex;
    gap: 30vh;
}

.section{
    width: 80vh;
    height: 10vw;
    border: 1px solid #FF4D4D;
    border-radius: 12px;
}

.drag-proxy {
    visibility: hidden;
    position: absolute;
}