@font-face {
    font-family: 'Roboto Bold Italic';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), url('../../public/fonts/Roboto-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto'), url('../../public/fonts/Roboto-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Urbane';
    font-style: normal;
    font-weight: 500;
    src: local('Urbane'), url('../../public/fonts/Urbane-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Urbane Demi Bold';
    font-style: normal;
    font-weight: 600;
    src: local('Urbane Demi Bold'), url('../../public/fonts/Urbane-DemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Polt';
    font-style: normal;
    font-weight: 400;
    src: local('Polt'), url('../../public/fonts/Polt-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Polt Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Polt Bold'), url('../../public/fonts/Polt-bold.woff') format('woff');
 }

:root{
--primary-100:#1A1A1A;
--primary-200:#282828;
--primary-300:#999999;
--accent-100:#FF5733;
--accent-200:#96C0B3;
--text-100:#FFFFFF;
--text-200:#e0e0e0;
--bg-100: black;
--bg-200:#151c20;
--bg-300:#2b3337;
}
.has-scroll-smooth body{
    overflow: hidden;
}

html {
    cursor: default;
}

#scroller {
    overflow-y: hidden !important;
}

body, html {
    overflow: hidden;
}

body{
    background-color: var(--bg-100);
    font-family: 'Roboto';    
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    z-index: 10;
    overscroll-behavior: none;
}
.container{
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 0 4.16vw;
}
  
#scroller{
    overflow-x: hidden;
}

body h3{
    position: relative;

    font-family: 'Urbane';
    text-align: center;
    font-size: 3.5vw;
}

body h3::after{
    position: absolute;
    content: '';
    border-bottom: 1.5vh solid var(--accent-100);
    width: 8vw;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 30px;
    top: -1.5vh;
    z-index: -1;
}

section{
    min-height: 100vh;
}

/*    blob      */

#blob{
    display: none;
    background: linear-gradient( var(--accent-100) 0%, var(--accent-200) 100% );
    height: 33vh;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    filter: blur(125px);
    z-index: -3;
    animation: rotate 20s infinite;
}

#blur{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(725px);
}

  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    50% {
      scale: 1 1.5;
    }
    to {
      rotate: 360deg;
    }
  }

/*     loader     */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-percentage {
    color: #96C0B3;
    text-align: center;
    margin-top: 4vh;
    font-size: 8vw;
    transition: color 0.3s ease;
    font-family: "Urbane";
}


/*     header     */

.header{
    padding: 5.5vh 0;
    position: fixed;
    padding-bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 90;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-logo{
    font-size: 1.7vw;
    color: var(--accent-100);
    font-style: italic;
    font-weight: 700;
    font-family: 'Roboto Bold Italic';

    padding: 0.55vw 0.89vw;
    background-color: #1010104d;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.header-menu{
    display: flex;
    align-items: center;

    padding: 0.25vw 0.89vw;
    background-color: #1010104d;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.header-wrap a{
    text-decoration: none;
}

.header-wrap li{
    text-align: center;
    padding: 0.52vw 1.3vw 0.32vw;
    z-index: 1;
}

.header-wrap li a{
    font-size: 1.25vw;
    color: inherit;
    font-family: 'Urbane';
    transition: all 0.5s;
}

@media (hover:hover){
    .header-wrap li a:hover{
        color: var(--accent-100);
        transition: all 0.5s;
    }
}

.header-btn{
    display: none;
    position: relative;

    margin-right: 1.3vw;
    cursor: pointer;
    text-align: center;
    font-size: 0.88rem;
    text-transform: uppercase;
    color: inherit;
    font-family: 'Urbane';
}

.header-btn.active{
    color: var(--accent-100);
}

.header-menu-mobile {
    opacity: 0;
    display: none;

    position: absolute;
    top: 70%;
    right: 0;
    overflow: hidden;
    border-radius: 5px;
    padding-bottom: 1.5vh;
    
    overflow: hidden;
    z-index: 99;
  }

/*    hero     */

.hero{
    padding-top: 5vh;
    height: 90vh;
}

.hero-text {
    position: absolute;
    top: 15vh;
}
.hero-text p {
    width: 37vw;

    color: #FFFFFF;
    font-family: 'Urbane Demi Bold';
    font-size: 6.3vw;
    font-weight: 600;
}

.hero-text .word {
    color: var(--accent-100);
}

.cursor {
    animation: blink 1s infinite;
    font-size: 6.3vw;
  }
  
  @keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

#canvas3d{
    margin-left: 20vw;
}

/*    about     */

.about{
    margin-top: 10vh;
}

#about h5{
    margin-top: 5vh;
    font-family: "Polt Bold";
    font-size: 7vw;
    font-weight: 700;
    text-align: right;
}

#about .wrap-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    transition: 0.3s ease-in-out;
}

#about .wrap-row h5{
    padding: 1.35vh 0 1.35vh 0;
    margin-top: 0;
    transition: 0.5s ease-in-out;
}

#about p {
    display: none;
    width: 33vw;
    font-size: 1.35vw;
}

#about .wrap-row h5:hover {
    opacity: 1;
    color: var(--accent-200);
    transition: 0.3s ease-in-out;
}

#about.child-hover .wrap-row:not(:hover) h5 { 
    filter: blur(25px);
    transition: 0.5s ease-in-out;
}

#about .wrap-row h5:hover + p {
    display: block;
}

/*     projects     */

.projects{
    margin-top: 10vh;
}   

.projects-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5vh;
}
  
.card{
    text-decoration: none;
    flex: 1 0 30%;
    margin: 1%;
    position: relative;
    width: 330px;
    height: 33vh;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    --pseudo-opacity: 0;
    transition: transform 0.5s ease-in-out;
}

.card::before{
    content: '';
    position: absolute;
    opacity: 1;
    width: 250%;
    height: 30vh;
    background: linear-gradient(var(--accent-100), var(--accent-200));
    animation: card 4s linear infinite;
    opacity: var(--pseudo-opacity);
}

.card:after{
    content: '';
    position: absolute;
    opacity: 1;
    background: var(--primary-100);
    inset: 1px;
    border-radius: 20px;
}

@keyframes card{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.card-content{
    opacity: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
}

.card-content h4{
    color: var(--accent-100);
    text-shadow: 1px 1px black;
    font-size: 3vw;
}

.card-content p{
    color: var(--text-100);
    text-shadow: 1px 1px black;
    font-size: 1vw;
    width: 90%;
    text-align: center;
}

.card img{
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    object-fit: cover;
    z-index: 2;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: black;
    opacity: 0;
    border-radius: 20px;
    z-index: 3;
}

/*     contact     */


.contact{
    margin-top: 10vh;
}

.contact-wrap{
    font-size: 5.58vw;
    width: 50vw;
    font-family: 'Polt';
    text-transform: uppercase;
    padding-top: 15vh;
    margin: 0 auto;
}

.line{
    display: flex;
    justify-content: space-between;
}

.line:not(:last-child){
    margin-bottom: 1.5vh;
}

.fancy{
    text-decoration: none;
    color: inherit;
}

@media (hover:hover){
.contact-wrap:has(.fancy:hover) .word:not(.fancy:hover){
    opacity: 0.2;
}

.fancy > .letter{
    display: inline-block;
    transition: all 350ms ease;
}

.fancy:hover > .letter{
    transition: all 800ms ease;
}
 
.fancy:hover > .letter:nth-child(1){
    transform: translate(-35%, 30%) rotate(20deg);
}

.fancy:hover > .letter:nth-child(2){
    transform: translate(-30%, -15%) rotate(-25deg);
}

.fancy:hover > .letter:nth-child(3){
    transform: translate(-30%, 25%) rotate(15deg);
}

.fancy:hover > .letter:nth-child(4){
    transform: translate(-15%, -10%) rotate(-5deg);
}

.fancy:hover > .letter:nth-child(5){
    transform: translate(-5%, 10%) rotate(5deg);
}

.fancy:hover > .letter:nth-child(6){
    transform: translate(-10%, -20%) rotate(-15deg);
}

.fancy:hover > .letter:nth-child(7){
    transform: translate(10%, -15%) rotate(5deg);
}

.fancy:hover > .letter:nth-child(8){
    transform: translate(15%, 20%) rotate(-10deg);
}

.fancy:hover > .letter:nth-child(9){
    transform: translate(37%, -25%) rotate(3deg);
}

.fancy:hover > .letter:nth-child(10){
    transform: translate(65%, 15%) rotate(-5deg);
}

.fancy:hover > .letter:nth-child(11){
    transform: translate(140%, -15%) rotate(0deg);
}

.fancy:hover > .letter:nth-child(12){
    transform: translate(70%, 20%) rotate(5deg);
}

.fancy:hover > .letter:nth-child(13){
    transform: translate(85%, -15%) rotate(-5deg);
}

.fancy:hover > .letter:nth-child(14){
    transform: translate(120%, -20%) rotate(0deg);
}

.fancy:hover > .letter:nth-child(15){
    transform: translate(125%, 15%) rotate(-5deg);
}
}

/*     footer     */

footer{
    padding: 4vh 0 4vh 0;
    
    position: relative;
    background-color: #1010104d;
    backdrop-filter: blur(10px);
    z-index: 90;
}

.footer-wrap{
    display: flex;
    justify-content: space-between;
}

.footer-contact{
    display: flex;
    gap: 2vw;
    align-items: center;
}

.footer-wrap p{
    font-size: 1.5vw;
}

.footer-contact a,
.footer-contact h5{
    text-decoration: none;
    color: var(--accent-100);
    font-size: 1.3vw;
    transition: all 0.3s ease;
}

@media(hover:hover){
    .footer-contact a:hover,
    .footer-contact h5:hover{
        color: var(--text-100);
        transition: all 0.3s ease;
        cursor: pointer;
    }
}
